@charset "UTF-8";

/** Global
------------------------------------------------------------*/

:root {
	/* colors */
	--brown: #857e75;
	--light-brown: #e7dfd3;
	--dark-brown: #313130;
	/* typography */
	--sans: sans-serif;
	--serif: "Georgia", serif;
	--mono: Menlo, Consolas, "Courier New", monospace;
	/* global size */
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

/** Page
------------------------------------------------------------*/

body {
	overflow-x: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--sans);
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: var(--dark-brown);
	color: var(--light-brown);
}

/* Header and footer */

header, footer {
	color: var(--brown);
}
.menu {
	margin: 0 0 1em 0;
	padding: 1em 0 1em 1em;
	text-align: center;
}
.menu li {
	display: inline-block;
}
footer .menu {
	text-align: center;
	padding: 1em 0;
}
footer a {
	text-decoration: none;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.home { /* Page d'accueil */
	text-align: center;
  max-width: 100vw;
}
.home h1, h1 {
	font-size: 4.8rem;
	font-weight: 300;
	margin: 1rem 0 0 0;
	text-align: center;
}

.project {
	max-width: 80vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5rem auto;
	text-align: left;
}
.project-metadata {
	width: 40%;
	max-width: 300px;
	margin-right: 5rem;
}
.project-metadata h2 {
	font-size: 3.2rem;
	font-weight: 300;
}
.project-metadata p {
	font-size: 1.8rem;
}
.project-img {
	width: 60%;
	max-width: 700px;
}
.project-img a:hover {
	background-color: inherit;
}
/* Telechargement */

.download {
	text-align: center;
}
.download h2,
.about h2,
#download-buttons-text {
	margin-top: 5rem;
}
.download table {
	margin-bottom: 3rem;
}

/* Liens */

a, a:visited {
	color: var(--light-brown);
}
a:hover {
	background-color: var(--light-brown);
	color: var(--dark-brown);
	text-decoration: none;
}
.download-platforms,
.download-prerequisites {
	font-size: 1.2rem;
	color: grey;
}
.menu a,
.buttons a {
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
  color: var(--brown);
}
.menu a:hover,
.buttons a:hover {
	background-color: var(--light-brown);
	color: var(--dark-brown);
}


/* A propos */

.about > p:first-of-type {
	font-size: 2.8rem;
	font-weight: 300;
	margin-bottom: 5rem;
}
.people-role,
.release-links {
	color: grey;
	font-size: 1.2rem;
}
.people-role::before,
.release-links::before {
	content: '— ';
}

/* Buttons */

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}
.btn-primary {
	color: #fff;
	background-color: var(--cosma-blue);
	border-color: var(--cosma-blue);
}
.btn-primary:hover {
	color: #fff;
	background-color: var(--cosma-blue-dark);
	border-color: var(--cosma-blue-dark);
}
.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}
.home .btn,
.download .btn {
	font-size: 1.8rem;
	padding: 1rem 2rem;
	vertical-align: baseline;
	border-radius: .5rem;
}
.btn a {
	text-decoration: none;
}
.btn a:hover {
	background-color: inherit;
}
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
	background: #f3f4f6;
	border-radius: 5px;
	font-family: var(--mono);
}
pre code {
	background: none;
}

/* misc elements */
img, iframe, video {
	max-width: 100%;
}
main {
	hyphens: auto;
}
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th {
	border-bottom: 1px solid #ddd;
}
th, td {
	padding: 5px;
}
thead, tfoot, tr:nth-child(even) {
	background: #eee;
}

@media screen and (max-width: 900px) {
	.project {
		flex-direction: column;
		max-width: 95vw;
	}
	.project-metadata, .project-img {
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
}